body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: -100px;
}

.typing-text {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 30px;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black;
    width: 0;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
    /* Анімація для друку та миготіння курсору */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

footer {
    position: absolute;
    bottom: 0;
}